body {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

#header {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#list {
    margin: 0 auto;
    width: 400px;
    text-transform: uppercase
}

#addBut {
    margin-top: 10px
}

#todoList {
    border: 5px solid #CEBDFF;
    border-radius: 10px;
}
